.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column1{
  background-color: greenyellow;
}

.column2{
  background-color: lavender;
  padding: 3%;
}

.column2 .row1{
  background-color: yellow;
  padding: 5%;
}

.column2 .row2{
  background-color: aqua;
  padding: 5%;
}

.column2 .row3{
  background-color: rosybrown;
  padding: 5%;
}

.footercontainer{
  background-color: darkkhaki;
}